@import url("../libs/css/montserrat_font.css");

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    min-height: 210px;

    color: white;
    font-family: 'Montserrat Light', serif;
    overflow: hidden;
    background-color: #111111;
}

body {
    min-height: 100vh;
}

body::before {
    background-image: url('/assets/images/clouds.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
}

#content {
    position: relative;
    width: 100%;
    height: 100%;
}

#content::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
}

#content .particles-js-canvas-el {
    position: absolute;
    opacity: 0;
    /*
    background: linear-gradient(to top left, #4A0031, #000 150%);
    */
}

#interface {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

#interface .panel {
    display: inline-block;
    height: 400px;
    pointer-events:all;
    background-color: rgba(31, 31, 31, 0.9);
    -webkit-box-shadow: 10px 10px 5px 0 rgba(0,0,0, 0.4);
    -moz-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.4);
    box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.4);
}

#interface .left {
    width: 210px;
    border-right: 1px solid #3e3e3e;
    opacity: 0;
}

#interface .right {
    width: 600px;
    opacity: 0;
}

#interface .avatar {
    width: 150px;
}

#interface .avatar-wrapper {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: relative;
    margin-top: 27px;
    margin-left: 27px;
    margin-bottom: 27px;
    overflow: hidden;
    cursor: pointer;
}

#interface .left .desc {
    margin: 0 0 0 27px;
    font-size: 14px;
}

#interface .left .nick {
    margin-bottom: 7px;
}

#interface .left .github {
}

footer {
    position: fixed;
    bottom: 7px;
    color: white;
    text-align: center;
    font-size: 11px;
    left: calc(50% - 44px);
    opacity: 0;
}

a {
    text-decoration: none;
    color: #06ffde;
}

ul {
    margin-top: 0;
    padding-top: 0;
}
