.tab-pane {
    width: 100%;
    position: relative;
}

.tab-content {
    max-height: 0;
    margin-top: 17px;
    margin-left: 17px;
    right: 50px;
    pointer-events: none;
    opacity: 0;
    width: 560px;
    display: none;
    font-size: 15px;
}

.tab-content.open {
    display: block;
    max-height: none;
    pointer-events: all;
    opacity: 0;
}

.tabs {
    display: flex;
    margin-left: 27px;
}

.tab {
    color: white;
    font-size: 14px;
    padding: 12px 17px;
    cursor: pointer;
    transition: box-shadow 0.25s ease;
}

.tab:hover,
.tab.open {
    border-bottom: 2px solid #e31c65 /*#06ffde*/;
}
