html {
    background-color: #111111;
}

body {
    max-width: 780px;
    margin: 10px 17px 14px 17px;

    font-family: 'Montserrat Light', serif !important;
    text-align: center;

    -webkit-box-shadow: 10px 10px 5px 0 rgba(0,0,0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    background-color: rgba(31, 31, 31, 0.9);
    color: white;
}

.pure-g [class*="pure-u"] {
    font-family: 'Montserrat Light', serif;
}

header {
    padding: 27px 0 17px 0;
    opacity: 0;
    border-bottom: 1px solid #3e3e3e;
    font-size: 14px;
}

.avatar {
    width: 50%;
    max-width: 300px;
    border-radius: 50% !important;
    cursor: pointer;
}

nav {
    color: lightgray;
    opacity: 0;
    font-size: 14px;
}

.tab-content {
    display: none;
    opacity: 0;
    max-height: 0;
    pointer-events: none;
    margin: 0;
    width: auto;
    padding: 17px 17px 17px 17px;
    border-top: 1px solid #3e3e3e;
    border-bottom: 1px solid #3e3e3e;
    font-size: 14px;
}

.tab-content.open {
    display: block;
    opacity: 0;
    max-height: none;
    pointer-events: all;
}

.tab.open {
    color: white;
    background-color: #373737;
}

.list-title {
    font-size: 15px;
}

.list-title:before {
    content: '~ ';
}

.list-title:after {
    content: ' ~';
}

.brainfuck-theme {
    word-wrap: break-word;
    color: #3e3e3e;
    font-size: 13px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

footer {
    font-size: 10px;
    margin: 17px 0 17px 0;
    opacity: 0;
}

/* General */

.projects-list li {
    margin: 0 0 5px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 0;
}

a {
    color: #e31c65;
    text-decoration: none;
}