.skills {
    width: 100%;
}

.skills ul {
    padding: 0;
}

.skills ul li {
    text-align: left;
    display: block;
    height: 47px;
}

.skills ul li p {
    padding-left: 17px;
    color: #111111;
    line-height: 40px;
    font-family: 'Montserrat Light';
    border: 1px dashed #2992B8;
}

.skill1 {
    width: 100%;
}

.skill2 {
    width: 95%;
}

.skill3 {
    width: 50%;
}

.skill4 {
    width: 14%;
    min-width: 50px;
}

.skill5 {
    width: 12%;
}

.otherSkills {
    width: 100%;
    background: #303030;
    padding: 1px 10px 1px;
    color: white;
    font-family: 'Montserrat Light';
}

h3 {

}

.otherSkills span {
    display: block;
    width: 100%;
    height: 5px;
    margin-left: -10px;
}
